<!doctype html>
<html  class="x-admin-sm">
<head>
	<meta charset="UTF-8">
	<title>卤三国SEO管理平台-登录</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="<?php echo ($static_url)?>css/font.css">
    <link rel="stylesheet" href="<?php echo ($static_url)?>css/login.css">
    <link rel="stylesheet" href="<?php echo ($static_url)?>css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="<?php echo ($static_url)?>lib/layui/layui.js" charset="utf-8"></script>
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        body{
            background: url("<?php echo ($static_url)?>images/1002178.jpg")!important;
            background-size: 100% 100% !important;
        }
    </style>
</head>
<body class="login-bg"  >
    
    <div class="login layui-anim layui-anim-up" >
        <div class="message">卤三国SEO管理平台</div>
        <div id="darkbannerwrap"></div>
        
        <form method="post" class="layui-form" >
            <input name="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <div>
                <input name="captcha" id="captcha" lay-verify="required" placeholder="验证码"  type="text" class="layui-input" style="width: 45%;float: left">
                <img  title="看不清，点击更换！" style="float: right; cursor: pointer;" src="<?php echo $code_base64 ?>" id="captcha_img"  onclick="reloadCode()"/>
            </div>

            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
        </form>
    </div>

    <script>
        $(function  () {
            layui.use('form', function(){
              var form = layui.form;

              //监听提交
              form.on('submit(login)', function(data){

                  $.ajax({
                      url:'http://seo.lusanguo.cn:9501/login/login',
                      type:'post',
                      data:{data:JSON.stringify(data.field)},
                      success:function(data){
                          layer.msg(data.msg);
                          setTimeout(function () {
                             window.location.href= 'http://seo.lusanguo.cn:9501/index/index';
                          },1500)

                      },
                      error:function(error){
                          layer.msg(error.responseJSON.msg);
                          reloadCode()
                      }
                  });

                return false;
              });
            });
        })
        function reloadCode(){
            $.get("http://seo.lusanguo.cn:9501/login/login?reloadCode="+1,function(data,status){
                $("#captcha_img").attr('src',data.result);
            });
        }
    </script>
    <!-- 底部结束 -->

</body>
</html>